@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cinzel+Decorative&family=Josefin+Slab:wght@600&family=Montserrat&family=Passions+Conflict&family=Poiret+One&family=Rubik+Dirt&display=swap');

h1{
    font-family: 'Rubik Dirt', cursive;
    font-size: 60px;
    text-align: center;
}

h2{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    text-align: center;
}

h3{
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body{
    background: linear-gradient(to right, #ff8a54d3, #f13333c5);
}

.link{
    color: black;
}

img{
    display: block;
    width: 400%;
    height: auto;
    width: 650px; 
    transition-duration: 2s;
}