@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cinzel+Decorative&family=Josefin+Slab:wght@600&family=Montserrat&family=Passions+Conflict&family=Poiret+One&family=Rubik+Dirt&display=swap');

h1{
    font-family: 'Aref Ruqaa Ink', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgba(18, 110, 196, 0.842);
}