@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cinzel+Decorative&family=Josefin+Slab:wght@600&family=Montserrat&family=Passions+Conflict&family=Poiret+One&family=Rubik+Dirt&display=swap');
h1{
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.pontinho{
   font-size: 30px;
}

.img{
   
    gap: 30Spx;
    justify-content: center;
    position:relative;
    text-align: center;
}

body{
    background: linear-gradient(to top, #D1B3C4, #B392AC);   
    flex-direction:column;
    gap: 500px;
    margin: 0 auto;
}