@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cinzel+Decorative&family=Josefin+Slab:wght@600&family=Montserrat&family=Passions+Conflict&family=Poiret+One&family=Rubik+Dirt&display=swap');

h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 60px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.p2{
    text-align: center;
    font-size: 35px;
}

body{
    background-color: #a4ac86;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 15px;
}

.link{
    color: #191f05
}

#a98467;