@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Cinzel+Decorative&family=Josefin+Slab:wght@600&family=Montserrat&family=Passions+Conflict&family=Poiret+One&family=Rubik+Dirt&display=swap');


h1{
    font-family: 'Rubik Dirt', cursive;
    font-size: 55px;
    color: black;
}

h2{
    font-family: 'Poiret One', cursive;
    font-size: 50px;
    text-align: center;
}

h3{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    text-align: center;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}


.flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body{
    background: linear-gradient(to right, rgba(12, 12, 12, 0.856), rgba(56, 28, 28, 0.808) );
    color: rgba(241, 241, 233, 0.89);
}

.link{
    color: rgb(236, 236, 234);
}